<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Editor</title>
    <link rel="stylesheet" href="./css/style.css" />
    <style>
      .elementPanel {
        fill: white;
        fill-opacity: 0;
        cursor: pointer;
      }

      #dragPanel {
        stroke: red;
        fill: white;
        fill-opacity: 0;
        cursor: move;
      }

      .dragPoint {
        stroke: red;
        fill: white;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="menubar">
        <a class="menu">
          <div class="menu_title" v-bind:class="{'menu_title_click': menu.showList && menu.currentList==0}" id="logo"
            v-on:click="showMenuList(0, true)" v-on:mouseover="showMenuList(0)">
            <svg viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg" width="15" height="15" xmlns:xlink="http://www.w3.org/1999/xlink"
              class="svg_icon">
              <svg viewBox="0 0 16 16" version="1.1">
                <path id="svg_7" d="m-0.0965,16.1043l16.10001,-16.06917l-0.00001,16.06917l-16.1,0z" stroke-linecap="null"
                  stroke-linejoin="null" stroke-dasharray="null" stroke-width="1.5" fill="#cccccc"></path>
                <path id="svg_6" d="m0.0035,16.10449l0,-15.99999l16,15.99999l-16,0z" stroke-linecap="null"
                  stroke-linejoin="null" stroke-dasharray="null" stroke-width="1.5" fill="#666666"></path>
              </svg>
            </svg>
          </div>
          <div class="menu_list" v-show="menu.showList && menu.currentList==0">
            <div class="menu_item">编辑器说明...</div>
            <div class="separator"></div>
            <div class="menu_item">快捷键...</div>
          </div>
        </a>

        <div class="menu">
          <div class="menu_title" v-bind:class="{'menu_title_click': menu.showList && menu.currentList==1}" v-on:click="showMenuList(1, true)"
            v-on:mouseover="showMenuList(1)">视图</div>
          <div class="menu_list" id="view_menu" v-show="menu.showList && menu.currentList==1">
            <!-- <div class="menu_item push_button_pressed" id="tool_rulers">显示刻度尺</div>
            <div class="menu_item" id="tool_wireframe">显示 Wireframe</div> -->
            <div id="view_grid" title="显示网格" class="menu_item" v-bind:class="{'menu_item_selected':menu.viewGrid}"
              v-on:click="viewGrid()">显示网格</div>
            <!-- <div class="menu_item" id="tool_snap">网格对齐</div>
            <div class="separator"></div>
            <div class="menu_item" id="tool_source">源代码... <span class="shortcut">Ctrl+U</span></div> -->
          </div>
        </div>
      </div>
      <div class="sidebar_left"></div>
      <div class="sidebar_right">
        <div v-if="currentSelectedElement">
          <p>位置和大小</p>
          <div>
            X:<input type="number" v-model.number="currentSelectedElement.x" />
            Y:<input type="number" v-model.number="currentSelectedElement.y" />
            宽:<input type="number" v-model.number="currentSelectedElement.width" />
            高:<input type="number" v-model.number="currentSelectedElement.height" />
          </div>
          <p>形状和旋转</p>
          <div>
            形状:<select v-model="currentSelectedElement.shape">
              <option value="rect">矩形</option>
              <option value="circle">圆形</option>
              <option value="ellipse">椭圆</option>
            </select>
            角度:<input type="number" v-model.number="currentSelectedElement.properties.angle" />
          </div>
          <p>边框</p>
          <div>
            宽度:<input type="number" v-model.number="currentSelectedElement.properties['stroke-width']" />
            颜色:<input type="text" v-model.lazy="currentSelectedElement.properties.stroke" />
            虚线:<input type="text" v-model.lazy="currentSelectedElement.properties['stroke-dasharray']" />
          </div>
          <p>图片</p>
        </div>
      </div>
      <div class="workarea">
        <div id="canvas_container">
          <!--画布-->
          <svg id="canvas_editor" v-bind:view-box.camel="viewport.viewbox" v-on:click="canvasClick()">
            <defs>
              <pattern id="grid" x="0" y="0" v-bind:width="config.gridSize" v-bind:height="config.gridSize"
                patternUnits="userSpaceOnUse" style="stroke: lightblue; stroke-width:3.1">
                <polyline v-bind:points="config.gridSize+',0 0,0 0,'+config.gridSize" style="fill:none;" />
              </pattern>
              <rect id="rect_page" v-bind:width="currentPageSize.width" v-bind:height="currentPageSize.height" />
            </defs>
            <!--白色背景-->
            <use href="#rect_page" style="fill: white;" />
            <!--网格-->
            <use href="#rect_page" style="fill: url('#grid')" v-if="menu.viewGrid" />
            <!--出血线-->
            <path v-bind:d="bleedPath" style="stroke: red; stroke-width:3; stroke-dasharray: 30,5,30; fill: none;"></path>
            <!--双页分割线-->
            <path v-if="currentPage.flag===2" v-bind:d="midPath" style="stroke: red; stroke-width:3; stroke-dasharray: 30,5,30; fill: none;"></path>
            <!--页面-->
            <svg x="0" y="0" v-bind:width="currentPageSize.width" v-bind:height="currentPageSize.height">
              <image v-bind:href="currentPage.background.image" v-bind:width="currentPageSize.width" v-bind:height="currentPageSize.height" />
              <g v-for="(element, index) in currentPage.elements" v-show="element.display==1" v-bind:transform="elementTransform(element)">
                <!--裁切路径-->
                <clipPath v-if="element.shape!=='rect'" v-bind:id="'clip'+index">
                  <circle v-if="element.shape==='circle'" v-bind:cx="elementCircle(element).cx" v-bind:cy="elementCircle(element).cy"
                    v-bind:r="elementCircle(element).r" />
                  <ellipse v-if="element.shape==='ellipse'" v-bind:cx="elementEllipse(element).cx" v-bind:cy="elementEllipse(element).cy"
                    v-bind:rx="elementEllipse(element).rx" v-bind:ry="elementEllipse(element).ry" />
                </clipPath>
                <!--图片-->
                <image v-if="element.type==='image'" v-bind:x="element.image.x" v-bind:y="element.image.y" v-bind:width="element.image.width"
                  v-bind:height="element.image.height" v-bind:href="element.image.url" v-bind:clip-path="element.shape!=='rect' ? 'url(#clip'+index+')' : ''"
                  preserveAspectRatio="xMidYMid slice" />
                <!--边框-->
                <rect v-if="element.shape==='rect'" v-bind:x="element.x" v-bind:y="element.y" v-bind:width="element.width"
                  v-bind:height="element.height" v-bind:stroke="element.properties.stroke" v-bind:stroke-width="element.properties['stroke-width']"
                  v-bind:stroke-dasharray="element.properties['stroke-dasharray']" v-bind:rx="element.properties.rect.rx"
                  v-bind:ry="element.properties.rect.ry" fill="none" />
                <circle v-if="element.shape==='circle'" v-bind:cx="elementCircle(element).cx" v-bind:cy="elementCircle(element).cy"
                  v-bind:r="elementCircle(element).r" v-bind:stroke="element.properties.stroke" v-bind:stroke-width="element.properties['stroke-width']"
                  v-bind:stroke-dasharray="element.properties['stroke-dasharray']" fill="none" />
                <ellipse v-if="element.shape==='ellipse'" v-bind:cx="elementEllipse(element).cx" v-bind:cy="elementEllipse(element).cy"
                  v-bind:rx="elementEllipse(element).rx" v-bind:ry="elementEllipse(element).ry" v-bind:stroke="element.properties.stroke"
                  v-bind:stroke-width="element.properties['stroke-width']" v-bind:stroke-dasharray="element.properties['stroke-dasharray']"
                  fill="none" />
                <!--面板-->
                <rect class="elementPanel" v-bind:id="'panel'+index" v-bind:x="element.x" v-bind:y="element.y"
                  v-bind:width="element.width" v-bind:height="element.height" v-on:click="selectElement(index)" />
              </g>
            </svg>
            <!--拖动组-->
            <g v-show="currentSelectElementIndex > -1" v-bind:transform="dragObj.transform">
              <!--拖动层-->
              <rect id="dragPanel" v-bind:x="dragObj.panel.x" v-bind:y="dragObj.panel.y" v-bind:width="dragObj.panel.width"
                v-bind:height="dragObj.panel.height"></rect>
              <!--旋转圆圈-->
              <line v-bind:x1="dragObj.line.x1" v-bind:y1="dragObj.line.y1" v-bind:x2="dragObj.line.x2" v-bind:y2="dragObj.line.y2"
                class="dragPoint" />
              <circle id="dragCircle" v-bind:cx="dragObj.circle.cx" v-bind:cy="dragObj.circle.cy" v-bind:r="config.dragPointSize/2"
                class="dragPoint" style="cursor: url(./images/rotate.png) 12 12, auto;"></circle>
              <!--拖拽控制点-->
              <rect id="dragPointTL" v-bind:x="dragObj.tl.x" v-bind:y="dragObj.tl.y" v-bind:width="config.dragPointSize"
                v-bind:height="config.dragPointSize" class="dragPoint" style="cursor: nw-resize;"></rect>
              <rect id="dragPointT" v-bind:x="dragObj.t.x" v-bind:y="dragObj.t.y" v-bind:width="config.dragPointSize"
                v-bind:height="config.dragPointSize" class="dragPoint" style="cursor: n-resize;"></rect>
              <rect id="dragPointTR" v-bind:x="dragObj.tr.x" v-bind:y="dragObj.tr.y" v-bind:width="config.dragPointSize"
                v-bind:height="config.dragPointSize" class="dragPoint" style="cursor: ne-resize;"></rect>
              <rect id="dragPointR" v-bind:x="dragObj.r.x" v-bind:y="dragObj.r.y" v-bind:width="config.dragPointSize"
                v-bind:height="config.dragPointSize" class="dragPoint" style="cursor: e-resize;"></rect>
              <rect id="dragPointBR" v-bind:x="dragObj.br.x" v-bind:y="dragObj.br.y" v-bind:width="config.dragPointSize"
                v-bind:height="config.dragPointSize" class="dragPoint" style="cursor: se-resize;"></rect>
              <rect id="dragPointB" v-bind:x="dragObj.b.x" v-bind:y="dragObj.b.y" v-bind:width="config.dragPointSize"
                v-bind:height="config.dragPointSize" class="dragPoint" style="cursor: s-resize;"></rect>
              <rect id="dragPointBL" v-bind:x="dragObj.bl.x" v-bind:y="dragObj.bl.y" v-bind:width="config.dragPointSize"
                v-bind:height="config.dragPointSize" class="dragPoint" style="cursor: sw-resize;"></rect>
              <rect id="dragPointL" v-bind:x="dragObj.l.x" v-bind:y="dragObj.l.y" v-bind:width="config.dragPointSize"
                v-bind:height="config.dragPointSize" class="dragPoint" style="cursor: w-resize;"></rect>
              

            </g>
          </svg>
        </div>
      </div>
    </div>

    <script src="../js/d3.v3.js"></script>
    <script src="../js/vue.js"></script>
    <script src="./js/unit.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/editor-mounted.js"></script>
    <script src="./js/editor.js"></script>
  </body>
</html>
